/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font, sans-serif);
  font-variation-settings: var(--main-wght);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* HEADER */

.header {
  block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.clamp-size {
  inline-size: var(--clamp-size);
}

.mg-clamp {
  margin: clamp(6.25rem, 6.25rem + 0vw, 6.25rem) clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem) clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
}

.logo__code-tag {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.logo__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}


/* MAIN */

.cards {
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-card) * 2);
  font-size: var(--font-size);
  font-weight: var(--main-wght);
}

/* карточки */

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 10px;
  font-weight: var(--accent-wght);
  font-size: inherit;
}

/* картинка и лейбл */

.card__image-label picture {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image-label {
  position: relative;
}

.image {
  display: block;
  inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
}

.label {
  position: absolute;
  top: var(--gap-card);
  right: var(--gap-card);
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
  font-size: var(--accent-font-size);
  filter: opacity(.5);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--stroke-color);
}

@supports(text-stroke: 1px var(--stroke-color)) {
  .label {
    text-stroke: 1px var(--stroke-color);
  }
}

/* абзацы карточки и кнопки лайка*/

.card__description {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card);
  padding: var(--padding);
  font-family: var(--main-font, monospace);
  line-height: 21px;
}

/* стилизация и анимация кнопок лайка */

.card__buttons {
  display: flex;
  align-self: end;
  padding-inline-end: var(--padding);
  padding-block-end: calc(var(--padding) - 4px);
  margin-top: auto;
  align-items: center;
}

.card__icon-button {
  background: none;
  border: none;
}

.card__like-button {
  background: none;
  border: 2px solid var(--border-color);
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font, monospace);
  font-size: var(--accent-font-size);
}


/* кнопка с дискетой*/

.button__floppy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  inline-size: calc(100% - (34.5px * 2));
  padding-block: 17px;
  margin: 0 34.5px 100px;
  background-color: var(--bg-color);
}

.floppy {
  display: block;
  inline-size: 28px;
  block-size: 28px;
}

/* всплывающее окно */

.popover {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-block-size: 191px;
  border: 2px solid var(--border-color);
}

.popover:popover-open {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 30px 40px;
}

.popover:popover-open::backdrop {
  backdrop-filter: brightness(20%);
}

body:has(.popover:popover-open) {
  overflow: hidden;
}

.popover__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.popover__text {
  font-family: var(--accent-font, monospace);
  text-transform: uppercase;
  line-height: 1.5;
  font-size: var(--accent-font-size);
  margin-inline-start: 20px;
}

.button__popover {
  background: none;

  grid-column: span 2;
  inline-size: 100%;
  block-size: 38px;
  margin-top: 30px;
  cursor: pointer;
}

/* АДАПТИВ */

@media (width >= 1440px) {
  .card__description {
    padding: calc(var(--padding) - 4px);
  }

  .card__buttons {
    padding-block-end: var(--padding);
  }

  .button__floppy {
    display: flex;
    flex-direction: row;
    inline-size: calc(100vw - (552.5px * 2));
    margin: 0 182.5px 100px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}
